<!-- Next Steps -->
<div class="ibm-columns">
    <div ng-if="data.enableShareThisPage" class="ibm-col-1-1 share-this-page-container" ng-init="initShareThisPage()">
        <div class="ibm-sharethispage ibm-textcolor-{{data.theme.primaryColor}}"></div>
    </div>
</div>
<div class="ibm-columns" data-items=".ibm-card" data-widget="setsameheight">
    <div class="ibm-col-6-2" ng-ibm-set-same-height="">
        <div class="ibm-card">
            <div class="ibm-card__image">
                <img alt="Watson" class="ibm-resize" height="170" src="styles/images/next_steps_1.png" width="300" /></div>
            <div class="ibm-card__content">
                <h3 class="ibm-h3">Explore</h3>
                <p>Explore IBM solutions to help you on your IoT journey.</p>
            </div>
            <div class="ibm-card__bottom">
                <p class="ibm-button-link ibm-textcolor-white-core"><a class="ibm-btn-pri ibm-btn-blue-50 ibm-textcolor-white-core" href="https://www.ibm.com/internet-of-things/" target="_blank ibm-textcolor-white-core">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="ibm-col-6-2" ng-ibm-set-same-height="">
        <div class="ibm-card">
            <div class="ibm-card__image">
                <img alt="Cognitive lock" class="ibm-resize" height="170" src="styles/images/watson-banner2.png" width="300" /></div>
            <div class="ibm-card__content">
                <h3 class="ibm-h3">Experience</h3>
                <p>Join us in Las Vegas to find out how IoT is transforming businesses, industries and the world.</p>
            </div>
            <div class="ibm-card__bottom">
                <p class="ibm-button-link ibm-textcolor-white-core"><a class="ibm-btn-pri ibm-btn-blue-50 ibm-textcolor-white-core" href="#" target="_blank ibm-textcolor-white-core">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="ibm-col-6-2" ng-ibm-set-same-height="">
        <div class="ibm-card">
            <div class="ibm-card__image">
                <img alt="Drive security integration with a cognitive approach" class="ibm-resize" height="170" src="styles/images/next_steps_3.png" width="300" /></div>
            <div class="ibm-card__content">
                <h3 class="ibm-h3">Try it out</h3>
                <p>See how IBM helps you leverage IoT best practices with advanced solutions.</p>
            </div>
            <div class="ibm-card__bottom">
                <p class="ibm-button-link ibm-textcolor-white-core"><a class="ibm-btn-pri ibm-btn-blue-50 ibm-textcolor-white-core" href="https://www.ibm.com/marketplace/cloud/internet-of-things-cloud/us/en-us" target="_blank ibm-textcolor-white-core">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
