<!-- What’s next? -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <ul>
            <li>
                Explore <a href="http://www.slideshare.net/IBMIoT/ibm-internet-of-things-offerings" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">IBM solutions to help you on your IoT journey</span></a>
            </li>
            <li>
                <a href="https://www-01.ibm.com/marketing/iwm/dre/signup?source=ibm-analytics&S_PKG=ov39536&dynform=20323&S_TACT=M16102CW" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">Contact us!</span></a> Schedule a one day workshop with IBM and let us help you:
                <ul>
                    <li>
                        Discover the art of the possible with IoT solutions within your business
                    </li>
                    <li>
                        Determine pragmatic steps to get started while providing incremental value
                    </li>
                    <li>
                        Meet increasing consumer expectation and gain competitive advantages
                    </li>
                </ul>
            </li>
            <li>
                Try out <a href="http://discover-iot.eu-gb.mybluemix.net/#/play" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">IoT for Electronics</span></a>
            </li>
        </ul>
    </div>
</div>