<!-- Sin #6: Pride -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">Over- and under-complication</h3>
        <p class="italic">
            “Pride is really all about not wanting to make users feel like idiots, but at the same time to not be condescending to them. So not to overcomplicate things, as well as to not over-simplify them.”<sup>5</sup>
        </p>
        <p>
            <span id="create-usable-solutions" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="false" class="key-point ibm-textcolor-gray-100 ibm-bold">An IoT solution needs to be usable. Usability is learned from the discipline of regular, honest discussion with users.</span> This discipline takes humility, and at times, thick skin. Pride enters in when an enterprise assumes its users’ needs well enough that it does not need to consider their feedback, or for that matter, any data that is contradictory to their assumptions. It also manifests itself when companies, for financially expedient reasons, decide that they know best for their customers. This pride can result in, among other things, an overly complicated or an overly simplified IoT experience.
        </p>
        <p>
            With a prideful assumption about (or disregard for) the user, it is not difficult to design and develop a connected product with almost every feature imaginable. It’s especially easy to overcomplicate IoT products, because in many cases companies are taking an existing piece of hardware or software, adding significant new functionality and not removing any of the old functions or interface.
        </p>
        <p>
            That said, the temptation also exists to go too far in the direction of simplification. Machine-to-machine communication and connectivity can easily lead to disintermediation of users—in a bad way. IoT products that give users less visibility and control than they are accustomed to will face a difficult adoption cycle. Any simplification of an IoT experience needs to be done with a clear focus on removing non-value added complexity from the users point of view. The same can be said of added complexity—these both should be approached with humility and user awareness instead of pride.
        </p>
        <p class="italic">
            Pride can lead to extreme views of customer capabilities
        </p>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_7.png'" alt="''" caption="'What kind of “steering wheel” do you provide to your users? Do you offer users total control at the risk of exposing complexity?'" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-437-273"></figure>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_8.png'" alt="''" caption="'Or do you greatly simplify at the expense of alienating power users?'" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-892-519"></figure>
    </div>
</div>