<!-- Sin #2: Envy -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">Be differentiated, not simply “better”</h3>
        <p class="italic">
            “We often find that in larger companies our sales teams drive the direction of the product. This is about trying to rein that in slightly. <span id="lead-by-differentiating" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="true" class="key-point ibm-textcolor-gray-100 ibm-bold">Don’t just go ahead and copy what everyone else is doing; take a step back and try and get a little bit more innovative.</span> That’s something that we struggle with because of the speed at which the industry is moving. Make sure that your sales teams are forming a direction, but not driving the entire product and what features and functionalities are in that. It’s really quite key. Have some faith in your own product, your skills and your market research. What’s your unique selling proposition (USP)? Focus on a small number of things and do them very well.”<sup>5</sup>
        </p>
        <p>
            The sin of envy is similar to feelings of jealousy towards someone’s status, rewards or abilities, but in this case the envious person also desires or covets these traits. Companies often exhibit envy through copycat or “me too” strategy when they see a competitor having remarkable success in the marketplace. This isn’t saying that all imitation attempts are ill advised, but Michael Porter has observed this behavior across many industries for many years. The first test of your business strategy, Porter says, is whether or not you have a distinct value proposition. If you are trying to “serve the same customers and meet the same needs and sell at the same relative price,” then you don’t have a distinct value proposition and you therefore don’t have a strategy.
        </p>
    </div>
    <div class="ibm-col-6-2 ibm-pull-quote ibm-inset ibm-h2 ibm-light ibm-textcolor-{{data.theme.primaryColor}} ibm-padding-top-30">
        <blockquote>
            <p><em><span class="ibm-pullquote-open ibm-light">“</span>The granddaddy of all mistakes is competing to be the best, going down the same path as everybody else and thinking that somehow you can achieve better results.<sup>6</sup><span class="ibm-pullquote-close">”</span></em></p>
            <p class="ibm-pullquote-source">—Michael Porter</p>
        </blockquote>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            Many companies today don’t have a strategy based on the point above; rather than competing based on differentiation, envy drives them towards “competing to be the best,”. e.g. trying to “out-Wal-Mart” Wal-Mart, with a low-cost strategy that isn’t built on differentiated capabilities or value-chain activities.
        </p>
        <p>
            When it comes to the Internet of Things, this same sin can be seen. Similar to other new technology waves in the past, marketing and sales see competitors’ IoT campaigns, offerings and user experiences and turn green with envy. They tell their teams, “We need one of these.” The development teams, under increasing pressure as product cycles compress, often lack the time, desire or data to protest this “me-too” IoT approach. The result of this cycle is an undifferentiated, copycat product, service or experience.
        </p>
        <p>
            Electronics companies must take a hard look at what IoT features combine to form a meaningfully differentiated product, service or experience from their customers’ perspectives. The combination of IoT features and other elements of the product, service or experience are important because IoT features alone may not meaningfully differentiate an offering. A connected washer or dryer is interesting, but it becomes much more valuable to the consumer when combined with elements like an automated warranty registration process, a connected service technician network and a proactive condition monitoring program. These new bundles of functionality are the “new and improved” customer experience now made possible by IoT.
        </p>
        <p>
            Just as the opposing virtue to the sin of envy is contentedness, companies keen to avoid the sin of envy should demonstrate contentedness and confidence—confidence in the quality of their market research, their customer insights and their product development—as they execute their IoT strategy. By letting contentedness and confidence guide IoT decision-making, companies can create a differentiated IoT experience and offering, instead of engaging in a frustrating catch-up race.
        </p>
    </div>
</div>