<!-- Avoiding the seven deadly sins of IoT -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            While cognitive IoT capabilities offer value across industries and customer segments, most companies are just starting to wrestle with the IoT customer and data challenges mentioned above. As they deal with these challenges, we are seeing value creation take on five main forms, specifically:
        </p>
        <ol>
            <li>Boosting operational performance</li>
            <li>Enhancing the customer experience</li>
            <li>Leading industry transformation</li>
            <li>Scaling institutional expertise</li>
            <li>Driving environmental leadership</li>
        </ol>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            <a href="http://www.ibmbigdatahub.com/infographic/iot-discovery-age-dark-data" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">Here’s an illustration of how cognitive IoT capabilities help create the benefits above.</span></a>
        </p>
    </div>
</div>
<div class="ibm-band ibm-background-{{data.theme.primaryColor}} ibm-padding-top-30">
    <div class="ibm-columns">
        <div class="ibm-col-6-4">
            <div ng-ibm-video="" id="'NpO5LEUG2Ts'" source="'https://www.youtube.com/watch?v=NpO5LEUG2Ts'"></div>
        </div>
        <div class="ibm-col-6-2">
            <h3 class="video-title ibm-h3 ibm-textcolor-white-core">Realize the potential<br /> of the cognitive era<br /> with Watson IoT</h3>
            <p class="video-description ibm-textcolor-white-core">
                For more on how your business can unlock new insights with the cognitive Internet of Things, visit <a href="http://ibm.com/IoT" class="ibm-light ibm-textcolor-white-core" target="_blank">http://ibm.com/IoT</a>
            </p>
        </div>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_2.png'" alt="'“Internet of Things, IoT, cognitive IoT, IoT Devices”'" caption="''" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-114-61"></figure>
        </p>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 ibm-textcolor-{{data.theme.primaryColor}} ibm-bold">IoT maturity model (electronics industry example)</h3>
        <ul>
            <li>
                <span class="ibm-textcolor-teal-60">Capture data.</span> Gain new insights through collecting and standardizing data.
            </li>
            <li>
                <span class="ibm-textcolor-teal-50">Optimize insights.</span> Further deepen the insight by applying intelligence to collected customer and business information.
            </li>
            <li>
                <span class="ibm-textcolor-teal-40">Revamp development.</span> Increase credibility in the marketplace through the introduction of more intuitive and relevant products and services.
            </li>
            <li>
                <span class="ibm-textcolor-teal-30">Enhance the experience.</span> Extend the value of the product via introduction of new value added services.
            </li>
        </ul>
        <p>
            That said, IoT maturity varies significantly within and across industries, and significant insight can be gained from examining what doesn’t work in terms of IoT approach and design. Sometimes saying, “Don’t do this,” is equally as powerful as saying, “Do this.” The following lessons learned—the <a href="http://diginomica.com/2015/12/03/ibms-seven-deadly-sins-for-iot-design/#.VmiXhnjFLQf" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">“Seven Deadly Sins of IoT”</span></a>—are based on insights from IBM’s IoT designers Sam Winslet and Sophie Riche, as well as our global industry experts and practitioners. These are by no means a comprehensive list of dos and don’ts, but should give any enterprise considering their IoT strategy or approach something to consider.
        </p>
    </div>
    <div class="ibm-col-6-2 ibm-pull-quote ibm-inset ibm-h2 ibm-light ibm-textcolor-{{data.theme.primaryColor}}">
        <blockquote>
            <p><em><span class="ibm-pullquote-open ibm-light">“</span>So how do you design for something if you don’t know what it is, or how many of them there will be? Well, you can’t...<span class="ibm-pullquote-close">”</span></em></p>
            <p class="ibm-pullquote-source">—From Sam Winslet’s and Sophie Riches’ presentation,</p>
            <p class="ibm-pullquote-source"><a href="http://diginomica.com/2015/12/03/ibms-seven-deadly-sins-for-iot-design/#.VmiXhnjFLQf" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">“The seven deadly sins for design of IoT”</span></a> Riches & Winslet, IBM Design, December, 2015</p>
        </blockquote>
    </div>
</div>















