<!-- Sin #3: Gluttony -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">“You can” doesn’t mean, “You should”</h3>
        <p class="italic">
            “This is all about focusing on a huge amount of features and functions in a platform. This is definitely what we don’t want to do. The solution to [this] is design thinking and centering it on the user, rather than the features and functions. We understand the problem and the user. We are exploring loads of different possible solutions, [prototype] to make sure that that’s working, [and] then we evaluate it with those users at every step of the way.”<sup>5</sup>
        </p>
        <p>
            <span id="focus-on-value-delivery" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="false" class="key-point ibm-textcolor-gray-100 ibm-bold">With any product or service, it’s important to distinguish between features that are needed by the target customer(s), and features that are simply possible.</span> This is especially important with software and IoT solutions—it becomes easy to import past features, functions or interface elements when those things seem to come “for free” as part of your legacy code or product base. The temptation also exists for companies to simply ‘bolt-on’ new IoT features to existing products, thereby bloating them as well.
        </p>
        <div class="highlighted ibm-background-{{data.theme.primaryColor}} ibm-textcolor-white-core ibm-bold">
            <h3 class="ibm-h3 ibm-textcolor-white-core ibm-bold">Design Thinking</h3>
            <p>
                Design thinking refers to design-specific cognitive activities that designers apply during the process of designing.<sup>7</sup>
            </p>
            <p>
                Design thinking is a formal method for practical, creative resolution of problems and creation of solutions, with the intent of an improved future result. In this regard it is a form of solution-based, or solution-focused thinking—starting with a goal (a better future situation) instead of solving a specific problem. By considering both present and future conditions and parameters of the problem, alternative solutions may be explored simultaneously.<sup>8</sup>
            </p>
        </div>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_4.png'" alt="''" caption="'As IoT products become more complex, careful thought should be given as to how IoT functionality is integrated into the increasingly crowded user interface.'" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-453-190"></figure>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            Instead, companies should look at IoT as a positive opportunity when it comes to managing the features, functions, complexity—and therefore cost—of their connected products and services. IoT enables companies to release less functional products that are only focused on a few major, well-defined customer needs initially. Given the connected nature of IoT products, the company can add new functionality (via firmware, apps, etc.) as it learns how customers are using the product, what they like/dislike, etc. This is a stark contrast to the more traditional approach of bloating an initial product with a “best guess” of features needed by users for the entire product lifecycle.
        </p>
        <p>
            By taking the perspective above, and by applying designthinking principles, companies can focus their IoT efforts on their users and economize the amount of functionality in their products. This gives users a “just right” feature set, allowing them to accomplish their goals with minimal effort. This also helps companies better manage cost and resource utilization when designing new products.
        </p>
    </div>
</div>