<!-- Sources -->
<div class="ibm-columns sources">
    <div class="ibm-col-6-2">
       <!-- <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">Sources</h3>-->
            <p>
                1. Internet of Things (IoT) 2013 to 2020 Market Analysis: Billions of Things, Trillions of Dollars. International Data Corporation. October 2013.
            </p>
            <p>
                2. Unlocking the potential of the Internet of Things. McKinsey & Company. June 2015.
            </p>
            <p>
                3. IBM Institute for business value. “The Business of Things: Designing business models to win in the cognitive IoT.” December 2015
            </p>
            <p>
                4. <a href="https://www.icontrol.com/wp-content/uploads/2015/06/Smart_Home_Report_2015.pdf" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">https://www.icontrol.com/wp-content/uploads/2015/06/Smart_Home_Report_2015.pdf</span></a>
            </p>
            <p>
                5. <a href="http://diginomica.com/2015/12/03/ibms-seven-deadly-sins-for-iot-design/#.VmiXhnjFLQf" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">http://diginomica.com/2015/12/03/ibms-seven-deadly-sins-for-iot-design/#.VmiXhnjFLQf</span></a>
            </p>
            <p>
                6. “Understanding Michael Porter: The Essential Guide to Competition and Strategy”, by Joan Magretta
            </p>
            <p>
                7. Visser, W. 2006, The cognitive artifacts of designing, Lawrence Erlbaum Associates.
            </p>
            <p>
                8. Cross, Nigel, “Designerly Ways of Knowing.” Design Studies 3.4 (1982): 221-27.
            </p>
            <p>
                9. “From 2-2 Billion: How to Design for Scale”, Winslet & Riches
            </p>
            <p>
                10. <a href="http://www.theatlantic.com/technology/archive/2015/06/the-internet-of-things-you-dont-really-need/396485/" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">"The Internet of Things You Don’t Really Need" Ian Bogost, June 2015,</span></a>
            </p>
            <p>
                11. <a href="http://arstechnica.com/security/2016/01/" class="ibm-light ibm-textcolor-{{data.theme.primaryColor}}" target="_blank"><span class="ibm-textcolor-{{data.theme.primaryColor}}">Internet of Things security is hilariously broken and getting worse, J.M. Porup Jan 2016</span></a>
            </p>
    </div>
</div>