<!-- Sin #1: Greed -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0"><span id="innovate-for-your-customers" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="false" class="key-point ibm-textcolor-gray-100 ibm-bold">Design for your targeted customer segment(s), not yourself or your company</span></h3>
        <p>
            “This is about not designing for yourself, or for your developers to be perfectly honest.... Designing something for someone like that (a single developer) is very different to designing something for someone that wants to connect up a city. There is a huge difference there, so we have to think about the whole spectrum.”<sup>5</sup>
        </p>
        <p>
            It’s human nature to think first of our wants and desires, unless frequently reminded by our conscience, and others, to think beyond ourselves. Companies and their developers, marketers and engineers are similar. Companies tend to focus inwardly unless they are deliberately and frequently reminded to look outside their four walls to their customers, partners and users. Marketers are often reminded of (and often forget) the mantra, “You are not your target customer.” Marketers know that their own personal likes and dislikes should not dictate how they market their products and services—instead they have to focus on their target customers’ needs and desires. This same principle applies to the design and development of IoT capabilities, but with additional complexity. With IoT, “you are not your target user” because your target user is often a mix of users across a connected device ecosystem. Therefore your users have different needs, goals, service requirements and expectations. You must understand your “target ecosystem” in addition to your directly targeted customer/user segments.
        </p>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            From an electronics industry perspective, think of the types of users encountered during your connected device “experience,” beyond the typical end user or developer:
        </p>
        <ul class="letters">
            <li>
                <span class="ibm-bold">The administrators/operators of the connected products’ network:</span> These users will need visibility and navigability in their version of the IoT interface, not just as those taking the pulse of all connected products, but also as the liaison to customer service.
            </li>
            <li>
                <span class="ibm-bold">Customer service representatives:</span> These users will need quick access to the status and details of each connected device. They will also need to quickly confirm the end-user’s (customer) identity, based on data as complete as a customer registration profile or as incomplete as a product serial number and/or proof of purchase.
            </li>
            <li>
                <span class="ibm-bold">Third-party technicians:</span> They have a range of needs, from real-time product connectivity to conduct diagnosis or repair, to predictive models that indicate future product failure, allowing them to replace parts or make repairs proactively.
            </li>
            <li>
                <span class="ibm-bold">Other third parties including retail partners, content providers and regulatory or compliance bodies:</span> Any partner in an electronic company’s ecosystem could be a potential user of their connected product or IoT interface. For consumer electronics firms, it could mean enhancing their sales, operations and supply chain models by combining retail data with real-time product usage insight. Or, it could mean providing views for regulatory agencies needing to track compliance or device performance.
            </li>
        </ul>
    </div>
</div>
<div class="ibm-columns">
    <div class="paragraph ibm-col-6-4">
        <p>
            The list above is not comprehensive, but it shows that by considering the impact on targeted user segments, you are in a position to give something of value to all of them. You act generously, not greedily—avoiding the common pitfall of designing an IoT solution primarily geared to your wants and desires, or those of a narrow user group.
        </p>
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_3.png'" alt="'“Internet of Things, IoT, cognitive IoT, IoT Journey”'" caption="'As an example of understanding target segments in the Smart Home, see the pronounced difference in smart home adopters by Do-it-yourself or Do-it-for-me preference, among other things. It would be easy for a company to “get greedy” and bias their product toward their own developers’ or marketers’ personal preferences or desires (e.g. in terms of DIY vs. Do-it-for-me setup), instead of reminding themselves of their target users’ preference.'" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-13-8"></figure>
    </div>
</div>

