<!-- Sin #4: Wrath -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">Avoid impatience and false assumptions</h3>
        <p class="italic">
            “If you went ahead and asked your family [how to define the Internet of Things], they [might] say it’s about connecting fridges. It’s not really telling the entire story. Everybody has different answers to what IoT is, so don’t assume that when you go out and you’re talking about use cases that people really understand the value of where IoT can fit in their business. There is not one use case right now that we can find that when we go out and talk to people that really appeals to everyone.”<sup>5</sup>
        </p>
        <p>
            Perhaps the deadly sin of wrath can be further illuminated by its opposing virtue—Patience. In the IoT realm, wrath, or impatience, leads to a false assumption of customers’ IoT knowledge and capability. <span id="help-customers-understand-the-iot" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="false" class="key-point ibm-textcolor-gray-100 ibm-bold">Patience with customers and users is important in any business, but especially in those where a loosely defined technological transformation is sweeping across the market.</span> Asking one hundred enterprises to define IoT would likely lead to one hundred different answers. IoT consumers’ or users’ definitions would be even more inconsistent, assuming they even know what IoT is. In this context, all functions—marketing, sales, design, development, customer support, etc.—must be mindful that their customers likely don’t care about IoT. With patience, leaders of these business functions must help customers discover how their needs can be solved, whether they are aware of it or not, by the connected devices and “fabric” of IoT.
        </p>
        <p>
            In the electronics industry, we see this reality evidenced today, as roughly 99% of IoT - enabled devices are still not connected to the Internet.
        </p>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <figure class="ibm-col-6-4" ibm-img-zoom source="'styles/images/figure_5.png'" alt="'“Internet of Things, IoT, cognitive IoT”'" caption="'Yes, the Internet of Things is going to invade the home and change our lives... but don’t assume that everyone knows what it is or why it is going to make their lives better.'" alternate="true" responsive-class="ibm-downsize" ratio-class="ratio-227-225"></figure>
    </div>
</div>
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            Even assuming that some of these devices’ users have no desire to connect their products, many simply need a better or simpler explanation of “Why” and “How” to do this. This issue becomes especially relevant as IoT invades products that historically have not been online. e.g. appliances, medical instruments, power tools, etc.
        </p>
        <p>
            While the average 4K Smart TV owner may be comfortable connecting and configuring their TV with their smart home environment, the same may not be said of the average owner of a toaster or table saw. A patient, thoughtful approach to customers’ needs based on an understanding of their IoT “education level” can help companies avoid the impatience that leads to missed opportunities around their customers’ experience.
        </p>
    </div>
</div>