<!-- How IBM IoT industry expertise can help -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <p>
            These seven deadly sins illustrate things that are easy to get wrong when developing an IoT strategy and designing or developing IoT capabilities. We have also tried to illustrate some particular implications for companies in the electronics industry, as their core products and capabilities are greatly impacted by the shift towards IoT-enabled experiences in the market.
        </p>
        <p>
            Regardless of which sins your company may struggle with, we think there are three basic steps to get right in your company’s IoT journey. These are:
        </p>
        <ol>
            <li>
                <span class="ibm-textcolor-{{data.theme.primaryColor}} ibm-bold">Start simply with a secure, scalable, open platform</span>
                <ul>
                    <li>
                        Make connecting devices easy and scalable to millions of connections around the world; see how: <a href="https://www.ibm.com/internet-of-things/iot-solutions/iot-electronics/" class="ibm-forward-link ibm-inlinelink" target="_blank">IoT for Electronics</a>
                    </li>
                    <li>
                        Focus on interoperability, open-source and standards-based technology
                    </li>
                    <li>
                        Ensure privacy and security are integrated into IoT devices and environments in multiple layers, from core to edge
                    </li>
                    <li>
                        Apply real-time, predictive, cognitive, contextual analytics to gain actionable insights from disparate sources of IoT data
                    </li>
                    <li>
                        Make your foundation cloud-based and cognitive-ready
                    </li>
                </ul>
            </li>
            <li>
                <span class="ibm-textcolor-{{data.theme.primaryColor}} ibm-bold">Solve business problems with expertise, applications and solutions</span>
                <ul>
                    <li>
                        Implement software and services that combine IoT data with other internal and external data, to solve thorny, industry-specific challenges and distance you from your competition
                    </li>
                    <li>
                        Engineer connected products that transform customer experiences and enable continuous learning and adaptation; See how: <a href="https://www.ibm.com/internet-of-things/iot-solutions/continuous-engineering/" class="ibm-forward-link ibm-inlinelink" target="_blank">Continuous engineering solutions for electronics</a>
                    </li>
                    <li>
                        Put IoT to work across your enterprise and supply chain to boost operational efficiency
                    </li>
                </ul>
            </li>
            <li>
                <span class="sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold">Build your cognitive strategy</span>
                <ul>
                    <li>
                        Define your disruptive business model based on a deep understanding of IoT and cognitive capabilities—in your industry and others that now intersect with you
                    </li>
                    <li>
                        Make sense of the combination of the full set of IoT data, unstructured dark data, external data like weather and social and enterprise data. Then learn from this, the corpus of knowledge for your cognitive IoT
                    </li>
                    <li>
                        Use cognitive IoT to instantly act on recommendations from intelligent systems and processes; See how: <a href="https://www.ibm.com/internet-of-things/iot-industry/iot-manufacturing/" class="ibm-forward-link ibm-inlinelink" target="_blank">Industry 4.0 and Cognitive Manufacturing</a>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>