<!-- Sin #7: Sloth -->
<div class="ibm-columns">
    <div class="ibm-col-6-4">
        <h3 class="ibm-h3 sub-section ibm-textcolor-{{data.theme.primaryColor}} ibm-bold ibm-padding-top-0">You put in the hard work, not your customers</h3>
        <p class="italic">
            “[Don’t assume] that your users have infinite patience. Or any patience. Or care about you or your product. The way that everyone is able to quickly try stuff out now means that you have maybe ten minutes of their time, maybe a little bit more if they’re feeling generous, to convince someone of why they should spend money on your product. Especially in the age of the web when they’re signing up for X number of platforms, when they can give up and move on to the next one.”<sup>5</sup>
        </p>
        <p>
            Today’s IoT/connected product market is huge, as indicated by the 13 billion+ devices connected worldwide. <span id="be-diligent-and-direct" ibm-key-point="" marker-position="section.contentLayout" hide-marker-text="false" class="key-point ibm-textcolor-gray-100 ibm-bold">Companies should not assume that users will invest significant amounts of time and energy to explore and adopt their solution.</span> There are too many options for users to consider for them to deal with the headache of complex or puzzling user experience. This is especially acute if your new IoT-enabled device is replacing the customer's old non-IoT device, which only took them sixty seconds to setup and use. You can’t afford to give this customer a lengthy setup time or even worse, a setup experience that results in a 30-minute call to customer support. In addition, the customer should be able to quickly and easily exploit the new IoT features of this product. In this setting, electronics companies have to put in the hard work of design and development to address these concerns and avoid the trap of sloth. i.e. ramming in huge amounts of IoT functionality in hopes that the customer will just “figure it out” or “call us if there’s a problem.”
        </p>
        <p>
            This is where the emerging capabilities of cognitive IoT and natural language processing can really stand out. Rather than configuring a new IoT device to interact with a dozen smart home devices and provide alerts based on a dozen user defined events, a homeowner—by way of natural language processing (NLP)—could simply talk to his/her home. e.g., “How can I save money on my electric bill?” “Reduce the oven temperature, dinner will be later.” or “Alert me when my kids come home tonight.”
        </p>
        <p>
            Electronics companies who take advantage of this dramatic growth in easy-to-use, portable, natural language processing capabilities can completely transform their customers’ experience. With NLP-enabled IoT devices, these electronics companies can now provide their customers an “always-on” expert in cooking, gardening, home theater, healthcare, personal fitness, home security and so much more.
        </p>
    </div>
</div>