<div id="cover" data-widget="parallaxscroll" style="background-image: url(styles/images/GettyImages-169263628.jpg); background-repeat: no-repeat; background-position: 85% 50%" ng-init="initCover()">
    <div id="cover-container" class="smart-paper-fullscreen">
        <div id="contents">
            <div class="ibm-columns">
                <div class="ibm-col-6-4">
                    <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold ibm-textcolor-{{data.theme.cover.textColor}} ibm-hidden-small">The internet of things:<br /> seven deadly sins of<br /> strategy and design</h1>
                    <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold ibm-textcolor-{{data.theme.cover.textColor}} ibm-hidden-xlarge ibm-hidden-large ibm-hidden-medium">The internet<br /> of things:<br /> seven deadly sins<br /> of strategy<br /> and design</h1>
                    <!--<h3 id="ibm-pagetitle-h3" class="ibm-h3 ibm-textcolor-{{data.theme.cover.textColor}}"></h3>-->
                </div>
            </div>
        </div>
        <div class="nav-arrow ibm-textcolor-white-core">
            <a ng-href="#/main" class="sp-nav-item ibm-textcolor-{{data.theme.cover.textColor}} ibm-chevron-down-link">
            </a>
        </div>
        <div ng-if="data.enableShareThisPage" class="ibm-sharethispage ibm-alternate ibm-textcolor-blue-30" ng-init="initShareThisPage()"></div>
    </div>
</div>