<figure class="img-zoom-container ibm-inset" ng-class="{ 'ibm-alternate' : alternate }">
    <div class="embed-container {{ratioClass}}">
        <img ng-src="{{source}}" class="{{responsiveClass}}" ng-srcset="{{sourceSet}}" alt="{{alt}}" img-load="onImgLoad($event)" />
    </div>

    <div ng-if="!dontZoom" class="btn-container">
        <a href="javascript:void(0)" class="expand-btn" ng-show="!opened" ng-click="expand()"><i></i></a>
    </div>
    <figcaption ng-if="caption" class="italic ibm-inset-img-caption ibm-textcolor-gray-60" ng-bind-html="caption"></figcaption>


    <div ng-if="!dontZoom" class="overlay" ng-show="opened"></div>
    <div ng-if="!dontZoom" class="img-container" ng-class="{ 'popup': opened }" ng-show="opened">
        <img ng-src="{{source}}" ng-srcset="{{sourceSet}}" class="{{responsiveClass}}" />
        <div class="btn-container">
            <a href="javascript:void(0)" class="close-btn" ng-click="close()"><i></i></a>
        </div>
    </div>
</figure>
