<div id="social-media-share-tooltip-content" class="tipso_bubble bottom ibm-background-cool-white-30"
     ng-style="{'top': socialSharePopupModel.top, 'left': socialSharePopupModel.left, visibility: socialSharePopupModel.opened ? 'visible' : 'hidden'}">
    <div class="tipso_content">
        <div class="tipso_contents">
            <p class="ibm-icononly">
                <a href="javascript:void(0)" class="ibm-email-encircled-link" onclick="socialMedia.openEmailClient()"></a>
                <a href="javascript:void(0)" class="ibm-twitter-encircled-link" onclick="socialMedia.openTwitterPopup()"></a>
                <a ng-if="!socialSharePopupModel.isInline" href="javascript:void(0)" class="ibm-facebook-encircled-link" onclick="socialMedia.openFacebookPopup()"></a>
                <a href="javascript:void(0)" class="ibm-linkedin-encircled-link" onclick="socialMedia.openLinkedInPopup()"></a>
            </p>
        </div>
    </div>
    <div class="tipso_arrow ibm-background-cool-white-30" style="border: none;width: 15px;height: 15px;top: -8px;bottom: auto;transform: rotate(45deg);"></div>
</div>