@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

#mobile-social-share {
  float: right; }
  #mobile-social-share > p a {
    margin: 8px 0 0; }
  #mobile-social-share > p:last-child {
    display: none; }
  #mobile-social-share .tipso_bubble {
    margin-top: 0;
    margin-left: -68px;
    min-width: 163px; }
    #mobile-social-share .tipso_bubble a {
      padding-left: 0; }

html, body {
  position: relative;
  height: 100%; }

noscript {
  display: block;
  padding: 40px;
  text-align: center; }

.no-js .ibm-sitenav-menu-container {
  display: none; }

.italic {
  font-style: italic; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .nav-arrow {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  z-index: 1; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .nav-arrow a {
    position: absolute;
    left: 50%;
    height: 50px;
    font-size: 28px;
    width: 46px;
    -webkit-animation: flash 6s infinite;
    animation: flash 6s infinite;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 143px;
  bottom: 60px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage .ibm-digg-encircled-link, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage .ibm-delicious-encircled-link, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage .ibm-stumbleupon-encircled-link, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage .ibm-googleplus-encircled-link {
    display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage h4 {
    padding-bottom: 5px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage a:last-child {
    margin-right: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .share-this-page-container .ibm-sharethispage {
  bottom: 90px;
  right: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .share-this-page-container {
  position: relative; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .display-share-this-page {
  margin-top: 65px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover {
  background-size: cover; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container {
    position: relative; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #contents {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main {
  position: relative;
  padding-bottom: 20px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li {
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 10px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li a.ibm-twisty-trigger {
    text-decoration: none;
    padding: 20px 20px 20px 45px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li a.ibm-twisty-trigger::before {
      font-size: 30px;
      margin-left: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li a.ibm-twisty-trigger:hover {
      text-decoration: none; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li a.ibm-twisty-trigger span {
      font-size: 20px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li .ibm-twisty-body {
    margin: 0 -10px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container ul#mobile-sections > li:last-child {
    border-bottom-style: solid;
    border-bottom-width: 1px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li {
  border-left-style: solid;
  border-left-width: 4px;
  padding-top: 0;
  position: relative; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li .hover-state {
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.25; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 20px 0 20px 40px;
    font-size: 20px;
    border-top-style: solid;
    border-top-width: 1px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li a:hover {
      text-decoration: none;
      background: transparent;
      border-color: transparent; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li a i::before {
      font-size: 30px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li:last-child a {
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li:before {
    display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li:hover .hover-state {
    display: block; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container ul#toc li:hover:last-child a {
    border-color: transparent; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e0e0e0; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a {
    position: relative;
    border: none;
    font-size: 20px;
    padding-left: 40px;
    color: inherit; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a:hover {
      text-decoration: none; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a:hover .hover-state {
        display: block; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a:before {
      color: inherit;
      font-size: 30px;
      content: "\f100"; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a.ibm-show-active:before {
      content: "\f170"; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 a .hover-state {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.25; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2.no-children a:before {
    content: "\f103"; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2.no-children a.ibm-show-active:before {
    content: "\f103"; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2.last-child {
    border-bottom-width: 1px;
    border-bottom-style: solid; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2.last-child.ibm-showing {
      border-bottom: none; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC .ibm-show-hide {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 20px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC .items-container.last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li {
  position: relative;
  padding: 10px 0;
  margin-left: 37px;
  border-top-style: solid;
  border-top-width: 1px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li:before {
    display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li a {
    position: relative;
    padding-left: 35px;
    font-size: 18px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li a i:before {
      font-size: 30px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li a:hover {
      text-decoration: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li .hover-state {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.25; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li:last-child {
    margin-bottom: 10px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC ul li:hover .hover-state {
    display: block; }

.ibm-mobilemenu-sitenavmenu > ul > li:nth-child(1), .ibm-mobilemenu-sitenavmenu > ul > li:nth-child(2), .ibm-mobilemenu-sitenavmenu > ul > li:nth-child(3), .ibm-mobilemenu-sitenavmenu > ul > li:nth-child(4) {
  display: none; }

.ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc h2, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points h2 {
  font-family: inherit;
  border-top: 2px solid; }
  .ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc h2 a, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points h2 a {
    padding-left: 20px !important;
    padding-right: 45px; }
    .ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc h2 a:before, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points h2 a:before {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc ul li a, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points ul li a {
  font-family: inherit;
  padding-left: 30px; }
  .ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc ul li a:hover, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points ul li a:hover {
    background: initial;
    color: initial; }
    .ibm-mobilemenu-sitenavmenu > ul > li.mobile-toc ul li a:hover span, .ibm-mobilemenu-sitenavmenu > ul > li.mobile-key-points ul li a:hover span {
      border: none; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list > ul > li:nth-child(4) {
  display: none; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list > ul > li:nth-child(4) a {
    padding-left: 30px; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a {
  padding-left: 10px; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a.ibm-share-encircled-link {
    margin-right: 20px;
    margin-top: 8px; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a > i.ibm-anchor-down-link {
    position: absolute; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a > i.ibm-anchor-down-link::before {
      font-size: 26px !important;
      font-size: 1.6em; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a > span {
    margin-left: 30px; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li > ul {
  width: 100%;
  max-width: 320px; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li .menu-scrollable-content {
  position: static;
  display: block;
  border: 0 none; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li .menu-scrollable-wrap {
  position: absolute;
  visibility: hidden;
  right: 0;
  display: block;
  min-height: 10px;
  max-width: 320px;
  width: 100%;
  margin-right: -10000px; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li .menu-scrollable-wrap ul {
    display: block;
    width: 100%;
    max-width: 320px; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li .menu-scrollable-wrap ul.menu-scrollable-content {
      max-width: 310px;
      margin-right: 10px; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li:first-child {
  position: relative; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li:first-child .tipso_bubble {
    margin-top: -5px;
    margin-left: -68px;
    min-width: 163px; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li:first-child .tipso_bubble a {
      padding-left: 0; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 a::before {
  font-size: 30px;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2:last-child a {
  border-bottom: 1px solid; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points .ibm-container-body ul {
  position: static;
  border: none; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 a {
  padding-left: 15px; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 a::before {
    font-size: 30px;
    margin-left: 10px;
    content: "\f100"; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 a:last-child a {
    border-bottom: 1px solid; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 a.ibm-show-active:before {
    content: "\f170"; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2.no-children a:before {
  content: "\f103"; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2.no-children a.ibm-show-active:before {
  content: "\f103"; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc .ibm-container-body ul {
  position: static;
  border: none; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc .ibm-container-body ul li a {
    padding-left: 30px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main .key-points-mobile-layout [class*="ibm-col-"] {
  margin: 0;
  width: 100%; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main .key-points-mobile-layout #key-points {
  margin: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2 {
  margin-top: 10px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2 a {
    border: none;
    text-decoration: none;
    padding: 20px 20px 20px 50px;
    font-size: 20px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2 a:hover {
      text-decoration: none; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2 a::before {
      font-size: 30px;
      margin-left: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2:before {
    display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points > h2:first-child {
    margin-top: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li {
  padding-top: 0; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li a {
    text-decoration: none;
    position: relative;
    padding: 20px 0 20px 40px;
    margin-right: 20px;
    display: block;
    font-size: 18px;
    border-top-style: solid;
    border-top-width: 1px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li a i::before {
      font-size: 30px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li a:hover {
      text-decoration: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li:last-child {
    padding-bottom: 20px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li:last-child a {
      border-bottom-style: solid;
      border-bottom-width: 1px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.items li:before {
    display: none; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized {
  padding-bottom: 0; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized li {
    padding-left: 0; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized li a {
      margin-right: 10px; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized li a i::before {
        margin-left: 20px; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized li a span {
        margin-left: 20px;
        display: block; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container #key-points .items-container > ul.non-categorized li:last-child {
      padding-bottom: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .section-header {
  font-size: 40px;
  line-height: 50px;
  padding-top: 88px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ibm-band .section-header {
  padding-top: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .copyright-info p, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .copyright-info h3, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .sources p, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .sources h3 {
  font-size: 11px;
  line-height: 13px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ibm-video-placeholder {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: black;
  padding-bottom: 56.25%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ibm-video-placeholder iframe, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ibm-video-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .video-title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .video-description {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .highlighted {
  padding: 40px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-bottom: 15px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .highlighted h4 {
    padding-bottom: 30px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .highlighted ul {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ibm-ibmlogo-link {
  position: relative;
  display: block;
  font-size: 40px;
  font-size: 2.5rem;
  height: 40px;
  line-height: 80px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point {
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 1px;
    visibility: hidden;
    opacity: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box {
  display: block;
  position: absolute;
  top: 0;
  width: 10px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box * {
    box-sizing: border-box; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border: 4px solid;
    width: 10px;
    box-sizing: border-box; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box .key-point-text {
    font-size: 36px;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 41px;
    line-height: 2.5625rem;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box .key-point-text.ibm-hide {
      display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-left'] {
    left: -15px;
    right: auto; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-left']:before {
      left: 0;
      right: auto;
      border-right: 0 none; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-left'] .key-point-text {
      right: 10px;
      left: auto; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-right'] {
    right: -15px;
    left: auto; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-right']:before {
      left: auto;
      right: 0;
      border-left: 0 none; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box[class*='-box-right'] .key-point-text {
      right: auto;
      left: 10px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section figure {
  margin-bottom: 15px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section.full-colored {
  padding-top: 30px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section h3.sub-section {
  font-size: 20px;
  line-height: 22px;
  padding-top: 40px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section ul.ibm-northstar-bullet {
  margin-bottom: 15px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: black; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .embed-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .embed-container.default-ratio {
    height: auto; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .embed-container.default-ratio img {
      position: static; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6); }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .img-container.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  background-color: #fff; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .img-container.popup img {
    width: 100%; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container {
  position: relative;
  z-index: 100; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container a {
    background-color: rgba(114, 114, 144, 0.4);
    position: absolute;
    width: 64px;
    height: 64px;
    bottom: 10px;
    right: 10px;
    border-radius: 7px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container a i {
      display: block;
      width: 64px;
      height: 64px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container a.expand-btn i {
      background: url("images/controls/ibm-img-zoom-expand.png") no-repeat center center; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container a.close-btn i {
      background: url("images/controls/ibm-img-zoom-close.png") no-repeat center center; }

@media screen and (min-width: 1025px) {
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .img-zoom-container .btn-container .expand-btn {
    display: none; } }

/*# sourceMappingURL=common.css.map */
