.ibm-sitenav-menu-name .app-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; }

@media screen and (min-width: 580px) {
  .ibm-sitenav-menu-name .app-title {
    width: 60%; } }

@media screen and (max-width: 579px) {
  #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-widget-processed .ibm-card__bottom {
    position: static; } }

/*# sourceMappingURL=ibm-overrides.css.map */
