#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main {
  padding-bottom: 90px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container h1, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 41px;
    line-height: 2.5625rem; }

/*# sourceMappingURL=min-760.css.map */
