#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .ibm-sharethispage {
  left: auto;
  right: 5%;
  bottom: 20px;
  text-align: left; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .share-this-page-container .ibm-sharethispage {
  bottom: 115px;
  right: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .display-share-this-page {
  margin-top: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container h1, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container h1 {
  font-size: 22px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main .key-points-mobile-layout [class*="ibm-col-"] {
  width: auto; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points {
  margin: 0 10px; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section.full-colored {
  margin-top: 88px;
  padding-top: 0; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .video-title {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem; }

/*# sourceMappingURL=min-580.css.map */
