@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a {
  color: inherit; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a span, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a span {
    color: initial; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a:hover, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a:hover {
    color: white; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a:hover span, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a:hover span {
      color: white; }
  .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a.ibm-show-active, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a.ibm-show-active {
    color: inherit;
    border-color: inherit; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a.ibm-show-active span, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a.ibm-show-active span {
      color: inherit; }
    .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a.ibm-show-active:hover, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a.ibm-show-active:hover {
      color: white; }
      .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-key-points > h2 > a.ibm-show-active:hover span, .ibm-sitenav-menu-container .ibm-sitenav-menu-list #sticky-bar-toc > h2 > a.ibm-show-active:hover span {
        color: white; }

.ibm-sitenav-menu-container .ibm-sitenav-menu-list ul li a:hover i {
  color: inherit; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents a:visited {
  color: inherit; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points > h2 > a {
  color: inherit; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points > h2 > a:hover {
    color: inherit; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points > h2 > a:hover span {
      color: inherit; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points > h2 > a.ibm-show-active {
    color: inherit; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points > h2 > a.ibm-show-active span {
      color: inherit; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main ul#toc > li a {
  color: inherit; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main ul#toc > li a:visited {
    color: inherit; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main ul#toc > li a i::before {
    color: inherit; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .key-point-box::before {
  border-color: inherit; }

#ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents {
  /* #ibm-masthead{
    #ibm-universal-nav{
      #mobile-social-share{
        .ibm-icononly{
          margin-left: 47px;
        }
        margin-left: 30px;
      }
    }
  }*/ }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container {
    background: transparent;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.36) 30%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.36) 30%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #ibm-pagetitle-h1 {
      font-size: 40px;
      line-height: 50px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #ibm-pagetitle-h3 {
      font-size: 20px;
      line-height: 25px;
      max-width: 80%; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #ibm-leadspace-body {
      bottom: 20px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #ibm-leadspace-body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 80px;
      padding-bottom: 20px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #sin-1-greed ul.letters {
    /*list-style-type: lower-latin;*/
    list-style: lower-latin;
    padding: 0 0 0 22px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #sin-1-greed ul.letters li {
      padding-left: 0; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #sin-1-greed ul.letters li:before {
        display: none; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #sin-1-greed div.paragraph {
    padding-top: 15px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC .ibm-show-hide {
    border-left-width: 0;
    padding-left: 0; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2 {
    border-top-width: 2px; }
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #toc-container .collapsibleToC h2.last-child {
      border-bottom-width: 2px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container h1 {
    padding-left: 0; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .graphic-list-container p {
    padding-top: 5px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section figure.use-case-image {
    margin-top: 50px;
    margin-bottom: -20px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .section-header {
    padding-bottom: 0px !important; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-459-448 {
    padding-bottom: 97.60348583877996%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-114-61 {
    padding-bottom: 53.50877192982456%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-13-8 {
    padding-bottom: 61.53846153846154%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-453-190 {
    padding-bottom: 41.94260485651214%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-227-225 {
    padding-bottom: 99.11894273127753%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-913-512 {
    padding-bottom: 56.07886089813801%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-437-273 {
    padding-bottom: 62.47139588100686%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .sections-container .section .ratio-892-519 {
    padding-bottom: 58.18385650224215%; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents .share-this-page-container .ibm-sharethispage {
    bottom: 90px; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #use-cases-cognitive-unleashed .img-zoom-container {
    text-align: center; }
  #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #top-five-benefits-of-ibm-business-process-manager-on-cloud-and-ibm-operational-decision-manager-on-cloud .img-zoom-container.no-zoom .btn-container, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #top-five-benefits-of-ibm-business-process-manager-on-cloud-and-ibm-operational-decision-manager-on-cloud .img-zoom-container.no-zoom .overlay, #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #top-five-benefits-of-ibm-business-process-manager-on-cloud-and-ibm-operational-decision-manager-on-cloud .img-zoom-container.no-zoom .img-container {
    display: none; }
  @media screen and (min-width: 580px) {
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents {
      /*#ibm-masthead{
      #ibm-universal-nav{
        #mobile-social-share{
          .ibm-icononly{
            margin-left: 30px !important;
          }
          margin-left: 47px !important;;
        }
      }
    }*/ }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #main #key-points-container h1 {
        padding-left: 10px; } }
  @media screen and (min-width: 760px) {
    #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #contents {
      top: auto;
      bottom: 80px;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #contents #ibm-pagetitle-h1 {
        font-size: 60px;
        font-size: 3.75rem;
        line-height: 80px;
        line-height: 5rem; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #contents #ibm-pagetitle-h2 {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 45px;
        line-height: 2.8125rem;
        margin-bottom: 30px; }
      #ibm-com #ibm-top #ibm-pcon #ibm-content #ibm-content-body #ibm-content-main #smart-paper-contents #cover #cover-container #contents #ibm-pagetitle-h3 {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 32px;
        line-height: 2rem;
        max-width: 560px; } }

/*# sourceMappingURL=project.css.map */
